In [4]:
import os

import numpy as np
import pandas as pd

In [8]:
path = './WHO-COVID-19-global-data.csv'
# path = './practice/covid19/dataset/covid19/process/'

df = pd.read_csv(path)

# 只要 时间 地区 新增确诊人数
df = df[["Date_reported", "Country", "New_cases"]]
df_use = df[df["Country"] == "France"]
df_use = df_use[62:]
df_use.index = range(len(df_use))
# 保存
df_use.to_csv('../france_new_cases.csv')
df_use

    Date_reported Country  New_cases
0      2020-03-05  France         73
1      2020-03-06  France        133
2      2020-03-07  France        184
3      2020-03-08  France        107
4      2020-03-09  France        410
..            ...     ...        ...
991    2022-11-21  France      14204
992    2022-11-22  France       6766
993    2022-11-23  France      64772
994    2022-11-24  France      49188
995    2022-11-25  France      49808

[996 rows x 3 columns]

In [6]:
df_use = df[df["Country"] == "France"]
df_use = df_use[62:]
df_use.index = range(len(df_use))
# 保存
df_use.to_csv('../france_new_cases.csv')
df_use

    Date_reported Country  New_cases
0      2020-03-05  France         73
1      2020-03-06  France        133
2      2020-03-07  France        184
3      2020-03-08  France        107
4      2020-03-09  France        410
..            ...     ...        ...
991    2022-11-21  France      14204
992    2022-11-22  France       6766
993    2022-11-23  France      64772
994    2022-11-24  France      49188
995    2022-11-25  France      49808

[996 rows x 3 columns]

In [9]:

df_use = df[df["Country"] == "France"]
df_use = df_use[62:]
df_use.index = range(len(df_use))
# 保存
df_use.to_csv('../Luxembourg_new_cases.csv')
df_use

    Date_reported Country  New_cases
0      2020-03-05  France         73
1      2020-03-06  France        133
2      2020-03-07  France        184
3      2020-03-08  France        107
4      2020-03-09  France        410
..            ...     ...        ...
991    2022-11-21  France      14204
992    2022-11-22  France       6766
993    2022-11-23  France      64772
994    2022-11-24  France      49188
995    2022-11-25  France      49808

[996 rows x 3 columns]

In [30]:
df_use = df[df["Country"] == "South Africa"]
df_use = df_use[62:]
df_use.index = range(len(df_use))
# 保存
df_use.to_csv('../South_Africa_new_cases.csv')
df_use

    Date_reported       Country  New_cases
0      2020-03-05  South Africa          0
1      2020-03-06  South Africa          1
2      2020-03-07  South Africa          0
3      2020-03-08  South Africa          1
4      2020-03-09  South Africa          1
..            ...           ...        ...
991    2022-11-21  South Africa          0
992    2022-11-22  South Africa        900
993    2022-11-23  South Africa          0
994    2022-11-24  South Africa          0
995    2022-11-25  South Africa          0

[996 rows x 3 columns]

In [11]:
path = './WHO-COVID-19-global-data.csv'
# path = './practice/covid19/dataset/covid19/process/'

df = pd.read_csv(path)

# 只要 时间 地区 新增确诊人数
df = df[["Date_reported", "Country", "Cumulative_cases"]]

df_use = df[df["Country"] == "France"]
df_use = df_use[62:]
df_use.index = range(len(df_use))
# 保存
df_use.to_csv('../france_cum_cases.csv')
df_use

    Date_reported Country  Cumulative_cases
0      2020-03-05  France               282
1      2020-03-06  France               415
2      2020-03-07  France               599
3      2020-03-08  France               706
4      2020-03-09  France              1116
..            ...     ...               ...
991    2022-11-21  France          36298382
992    2022-11-22  France          36305148
993    2022-11-23  France          36369920
994    2022-11-24  France          36419108
995    2022-11-25  France          36468916

[996 rows x 3 columns]